.oc-calendar {
  display: flex;
  flex-flow: column nowrap;
  border-top: 1px solid #DDD; }
  .oc-calendar .day-row {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 1;
    min-height: 100px;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD; }
    .oc-calendar .day-row .day {
      flex: 1 1;
      border-left: 1px solid #DDD;
      cursor: pointer; }
      .oc-calendar .day-row .day:hover {
        background-color: #ebfaff; }
    .oc-calendar .day-row .today {
      background-color: #eaf6ff; }
  .oc-calendar .week-row {
    display: flex;
    flex-flow: row nowrap;
    flex: 1 0;
    border-right: 1px solid #DDD;
    border-bottom: 1px solid #DDD; }
    .oc-calendar .week-row .week {
      flex: 1 1;
      border-left: 1px solid #DDD; }
